table {
  width: 100%;
  td {
    vertical-align: top;
  }
}

table#interactions {
  width: 600px;
  text-align: center;
  #interactiveElements {
    width: 200px;
  }
  #mutationColumn {
    width: 200px;
  }
}
