
{{#foo-component id="login-foo-component-with-nested-components"}}
    <p>Changes to this should be recorded</p>
    {{#foo-component id="login-foo-component-nested-1"}}
        <p>&nbsp;&nbsp; Nested component, changes to this should be recorded</p>
    {{/foo-component}}
    {{#foo-component }}
        <p>&nbsp;&nbsp; Nested component no id, changes to this should NOT be recorded</p>
    {{/foo-component}}
{{/foo-component}}

{{#toggle-component}}
    <p id="toggle-component-login-p">Should Record</p>
    <p>Should not record</p>
{{/toggle-component}}

