<h1>All inputs</h1>
<p>This is a wide selection of input that we want to automate and test that the users interaction is recorded</p>
<input id="register-input-1" type="text" placeholder="username">
<form action="">
  <input type="radio" name="type" value="foo" > Foo<br>
  <input type="radio" name="type" value="bar">Bar



  <input type="text" name="type" placeholder="type in here">
    <select id="fooSelect">
        <option value="Foo">Foo</option>
        <option value="Baa">Baa</option>
    </select>
    <select>
        <option value="Foo">Foo</option>
        <option value="Baa">Baa</option>
    </select>
</form>
<div>
    <p>1</p>
    <p>1</p>
</div>